@import url(https://fonts.googleapis.com/css?family=Merriweather:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Thin.woff2") format("woff2"), url("../fonts/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: WorkSans;
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "WorkSans", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "WorkSans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85.3125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.8125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131517;
  z-index: 2;
}

.header__menu {
  height: 3.5rem;
  padding: 0rem 0.8125rem;
  background-color: #131517;
}

.menu {
  height: 3.5rem;
}

.menu__body {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1.875rem;
  margin: auto;
  position: relative;
  z-index: 2;
}

.menu__link {
  display: block;
  height: 3.5rem;
  padding: 0rem 0.4375rem;
  line-height: 3.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.menu__link:hover {
  background-color: #313131 !important;
  color: #ddd !important;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.header__burger {
  display: none;
  padding: 0.25rem 0.75rem;
  margin-right: 0.8125rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page__inner {
  padding-top: 6.25rem;
  padding-left: 4.3125rem;
  padding-right: 4.3125rem;
  padding-bottom: 6.25rem;
}

.data {
  margin-bottom: 2.75rem;
}

.data__link {
  display: inline-block;
  padding: 0.1875rem 0.4375rem;
  margin-right: 1rem;
  background: #131517;
}

.data__theme {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

.data__time {
  font-size: 0.75rem;
  color: #556677;
}

.body__title {
  max-width: 49.0625rem;
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-right: 0rem;
  margin-bottom: 1.5rem;
}

.body__image {
  max-width: 100%;
}

.body__text {
  max-width: 49.0625rem;
  margin-top: 2.75rem;
  text-align: left;
  font-size: 2rem;
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  line-height: 2.25rem;
}

.body .blue-text {
  color: #0066FF;
}

.body .italic {
  font-style: italic;
}

@media (max-width: 945px) {
  .header__burger {
    display: block;
    position: relative;
    width: 1.09375rem;
    height: 0.875rem;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 0.125rem;
    top: 0.35625rem;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .menu__list {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .page__inner {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    padding-bottom: 3.125rem;
  }

  .body__title {
    font-size: 2rem;
  }

  .body__text {
    font-size: 1.75rem;
  }
}

@media (max-width: 29.99875em) {
  .page__inner {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 2.5rem;
  }

  .body__title {
    font-size: 1.5rem;
  }

  .body__text {
    font-size: 1.25rem;
    margin-top: 1.25rem;
  }
}